.container {
    background-color: bisque;
}

#messages {
    height: 450px;
    overflow-x: none;
    overflow-y: auto;
}

#messages::-webkit-scrollbar {
    width: 0;
}

.message {
    max-width: 50%;
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    word-break: break-all;
}

.message-my {
    margin-left: auto;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 32px 32px 0px 32px;
}

.message-buddy {
    background-color: gainsboro;
    border: 1px solid blue;
    border-radius: 32px 32px 32px 0px;
}