h1,
h2,
h3,
h4,
h5,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-image: linear-gradient(#2E9AFF, #F498AD);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-left,
.section-right {
    background-color: rgba(8, 50, 113, 0.5);
    margin: 1rem;
    border-radius: 16px;
}

.section-right-hide,
.section-left-hide{
    display: none;
}

.section-right-show,
.section-left-show{
    display: block;
}

.section-left{
    width:30%
}

.section-right{
    width:70%
}

@media (max-width: 992px) {

    .section-left{
        width:40%
    }
    
    .section-right{
        width:60%
    }
}

@media (max-width: 768px) {

    .section-left,
    .section-right{
        width:70%
    }

}

.section-left-header{
    height: 80px;
    border-bottom: 1px solid #fff;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.section-right-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid #fff;
    padding-left: 15px;
    padding-right: 15px;
}

.section-accounts{
    height: 520px;
    overflow-x: none;
    overflow-y: auto;
}

.section-header-right-account{
    display: flex;
    align-items: center;
}

.section-right-account > div{
    margin: 0;
}

.account{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    border-radius: 16px 16px 16px 16px;
}

.active-account {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.5rem 0rem;
}

.messages-section {
    height: 450px;
    overflow-x: none;
    overflow-y: auto;
}

.messages-section::-webkit-scrollbar,
.section-accounts::-webkit-scrollbar{
    width: 0;
}

.form-section{
    height: 70px;
    border-top: 2px solid #fff;
    padding:1rem;
}

.message {
    max-width: 50%;
    min-width: 150px;
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    word-break: break-all;
    color: #fff;
}

.message-my {
    margin-left: auto;
    background-color: RGB(25, 135, 84);
    border-radius: 32px 32px 0px 32px;
}

.message-buddy {
    background-color: #0463F0;
    border-radius: 32px 32px 32px 0px;
}

#input,
#btn-input{
    background-color: rgba(5, 12, 22, 0.5) !important;
    color: #fff !important;
    border: none !important;
    caret-color: #fff;
}

#input-search,
#btn-search
{
    background-color:rgba(255, 255, 255, 0.3) !important;
    color: #fff !important;
    border: none !important;
    caret-color: #fff;
}

i{
    color: #fff;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbbbbb;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bbbbbb;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #bbbbbb;
}

